[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gitdb = "==4.0.9"
lxml = "==4.8.0"
numpy = "==1.21.5"
opencv-python = "==4.5.5.64"
smmap = "==5.0.0"
typing-extensions = "==4.1.1"
GitPython = "==3.1.27"
PyQt5 = "==5.15.6"
PyQt5-Qt5 = "==5.15.2"
PyQt5-sip = "==12.9.1"

[requires]
python_version = "3.7"
